@import "../font-styling.css";

.home-page {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

video.home-video-1 {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: -1;
}

.banner {
  /* background: url("../images/singapore.jpg") center center/cover no-repeat; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  z-index: 0;
  background-size: cover;
}

.banner-items {
  justify-content: center;
  padding: 60px 0;
  color: rgb(241, 241, 241);
  position: relative;
}

.banner-items h1 {
  text-align: center;
  position: relative;
  font-family: Cormorant_Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
}

.banner-items p {
  font-family: Cormorant_Garamond;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 27px;
}

@media screen and (max-width: 960px) {
  .banner-items h1 {
    /* position: relative; */
    text-align: center;
    font-size: 60px;
  }

  .banner-items p {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .banner-items h1 {
    /* position: relative; */
    font-size: 50px;
  }

  .banner-items p {
    font-size: 16px;
  }
}

.banner-buttons button {
  padding: 0.4em 0.7em;
  margin: 1em 0.3em;
  border-radius: 30px;
  box-sizing: border-box;
  border: 0.05em solid rgb(241, 241, 241);
  cursor: pointer;
  font-weight: bold;
  font-size: 29px;
  color: rgb(241, 241, 241);
  background: transparent;
  transition: all 0.2s;
}

.banner-buttons button:hover {
  color: rgb(65, 65, 65);
  background-color: rgb(241, 241, 241);
}

.banner-buttons {
  justify-content: center;
  display: flex;
  align-items: center;
}
