.login-landing {
  width: 100%;
  height: 100vh;
  background-image: url("../images/Maps.jpg");
  background-size: cover;
}

.login-page {
  margin-top: 8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.login-container {
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background: #f8f7f7;
  margin: 0 30%;
  padding: 2em 2em;
  box-shadow: 0px 15px 16.83px 0.17px rgba(15, 15, 15, 0.05);
  font-family: Cormorant_Garamond;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: #424242;
  border-radius: 2em;
}

.login-container h1 {
  font-family: Cinzel;
  font-weight: normal;
  font-size: 2.1em;
  text-align: center;
  color: #333232;
}

.login-form input[type="password"],
.login-form input[type="text"] {
  outline: none;
  width: 100%;
  padding: 0.8em;
  border: none;
  border-bottom: 0.5px solid #c5c5c5;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: 0.9em 0;
  box-sizing: border-box;
  border-radius: 1em;
  font-family: Quicksand;
  font-size: 1em;
}

.login-form input[type="password"]:hover,
.login-form input[type="text"]:hover {
  border-bottom: 0.5px solid #bdbdbd;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.253);
}

.login-form button {
  width: 100%;
  padding: 0.1em;
  border: none;
  border-bottom: 0.5px solid #c5c5c5;
  box-shadow: 0 0 15px 4px rgba(163, 163, 163, 0.534);
  margin: 0.8em 0;
  box-sizing: border-box;
  border-radius: 1em;
  font-family: Cinzel;
  font-weight: normal;
  font-size: 1.8em;
  color: #cfcfcf;
  background-color: #333232;
  cursor: pointer;
}

.login-form button:hover {
  box-shadow: 0 0 15px 4px rgba(163, 163, 163, 0.781);
  background-color: #5a5959;
  color: aliceblue;
}

@media screen and (max-width: 1129px) {
  .login-container {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 866px) {
  .login-container {
    background: #f8f7f7;
    width: 75%%;
    margin: auto;
  }
}
