.albums {
  max-width: 85%;
  margin: 3em auto;
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.albums-container img {
  margin: 1em 0.5em;
  width: 40vh;
  height: 50vh;
}
